doctype html
html
    head
        title Awesome App
    body
        include ./aa-header.pug

        h4 Please enter your Google login and password:
        form.auth__google
            p Login:
            input.login#login(type='text',placeholder='Login',name='login')
            p Password:
            input.password#password(type='text',placeholder='Password',name='password')
            br
            input.btn.btn--signup(type='submit',value='Sign up')

        include ./aa-footer.pug
