doctype html
html
    head
        title Awesome App
    body
        include ./aa-header.pug

        h4 You have been logged to Awesome App
        p Now you are free to do Awesome Things (TM)
        a.btn.auth__logout(href='/auth/logout') Logout

        include ./aa-footer.pug
